html {
	font-size:75%;
}

body {
	background-color:#eff0e7;
	margin:0;
	padding:0;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:1em;
	line-height:1.6em;
	color:#595959;
}

h1.header {
    font-family:"Lucida Grande","Trebuchet MS",Verdana,sans-serif;
//      font-family:"Book Antiqua","Warnock Pro","Goudy Old Style","Palatino","Georgia","serif"; 
//	font-family:Geneva, "Times New Roman", Times, serif;
//	font-family: Verdana,Arial,Helvetica,sans-serif;
//	font-family: Arial,Helvetica,sans-serif;
//	font-weight:bold; 
    letter-spacing:1px;
}


form {
	border:0;
	padding:0;
	margin:0;
}

p,
li,
input,
textarea,
label,
select {
	font-size:1.2em;
}

a img {
	border:0;
}

a {
	outline:none;
	color:#0c3140;
}


#holder {
	width:980px;
	margin:0 auto;
	padding:0;
}

.openid_box {margin:25px 0px -25px 0px; padding-left:5px;}
input.openid_login {
   background: url(http://openid.net/login-bg.gif) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   color: #000;
   width:85%;
   padding-left: 18px;
}

.menu_box {
	margin:-40px 0 40px 0;
	padding:0;
	list-style-type:none;
	float:right;
}

.menu a  {
	margin:0 0 0 0px;
	padding:0px 4px;
	float:left;
	color:#7d9093;
	text-transform:uppercase;
	letter-spacing:1px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:9px;
	text-decoration:none;
	display:block;
}

.big {font-size:120%;color:#d13400;}


.menu a:hover {
	color:#d13400;
}

/* 
 * List entries
 */
.l_date {display:inline-block; color:#d13400; width: 7em; font-weight:normal;}
.l_date_unpub {display:inline-block; color:blue; width: 7em; font-weight:normal;}
a:hover.l_date_unpub{text-decoration:underline;}
.l_author {display:inline-block;margin-left:1em; width: 4em; font-weight:normal;}
.l_title {margin-left:2em; font-weight:bold; letter-spacing:1px;}
a.l_title {text-decoration:none;}
a:hover.l_title {text-decoration:underline;}
.l_body {margin-left:3em; margin-top:1em;}

/*
 * Article entry
 */
.e_date {font-size:1em; color:#d13400; font-weight:bold;}
.e_title {font-size:1em; margin-left:2em; font-weight:bold; letter-spacing:1px; color:black;}
.e_author {float:left; font-size:0.9em; margin:4em 0 -4em -7em; padding-left:0; font-weight:normal;}

/*
 * Comments
 */
.e_comhdr{margin-left:1.5em; margin-bottom:1em;}
.comhdr{margin-left:0.5em}
.e_comform{display:none;margin:2em;}
textarea.comment {height: 100px; width: 450px;}
.c_date {font-size:0.9em; color:#d13430; font-weight:bold;}
.c_who {font-size:0.9em; margin-left:2em; font-weight:bold; color:black;}
.c_txt {
    font-size:0.9em; 
    margin-left:1em; 
    margin:0.2em 0;
    padding-left:0.6em; 
    border-left:2px solid #cbd0c2;
}
.c_body {margin-left:2em; margin-top:0.6em;}
.c_is_author {background-color:#e5ff87;}
.c_is_author_txt {
    background-color:#f6feda;
    font-size:0.9em; 
    margin-left:1em; 
    margin:0.2em 0;
    padding-left:0.6em; 
}
.c_is_author:after {margin:0 0.5em 0 1em; content:"Author comment"; font-size:0.80em; text-transform:uppercase;}


code {font-size: 110%;line-height:90%;}

a.selected {color:black; background-color:#d7d8cf;}

.by_who {color:black;}

.footer {
	clear:both;
	float:left;
	width:980px;
	margin:4em 0 0 0;
	padding:1em 0 4em 0;
	border-top:2px solid #cbd0c2;
	color:#91918d;
	font-weight:normal;
	font-size:70%;
}

.intro {
    margin:0 1.5em 1em -1.5em;
    padding: 2px 0;
    border-top:2px solid #cbd0c2;
    border-bottom:2px solid #cbd0c2;
    letter-spacing:1px;
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-size:9px;
    text-decoration:none;
    color:#91918d;
    font-weight:normal;
    font-size:120%;
}

.chilired {color:#d13430;}

.tw_search {padding:0.5em;}







#header h1 {
	margin:70px 0 0 0;
	padding:0;
	font-size:10px;
	line-height:10px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(../img/digital_chili.gif);
	width:459px;
	height:15px;
	text-indent:-9999px;
}

#header h1 a {
	width:459px;
	height:15px;
	display:block;
}

#header h2 {
	margin:23px 0 0 0;
	padding:0;
	font-size:10px;
	line-height:10px;
	background-position:0 0;
	background-repeat:no-repeat;
	background-image:url(../img/copy.gif);
	width:980px;
	height:108px;
	text-indent:-9999px;
}


.espanol #header h2 {
	background-image:url(../img/copy_spa.gif);
}

#content {
	float:left;
	width:980px;
	clear:both;
}

#thecompany {
	width:367px;
	margin:0;
	padding:0;
	float:right;
}

#thework {
	width:584px;
	margin:0;
	padding:0;
	float:left;
}

#thecompany h2,
#thework h2 {
	clear:both;
	text-transform:uppercase;
	font-weight:normal;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:1.4em;
	padding:1.5em 0 .3em 0;
	margin:0;
	color:#0c3140;
}


#thework h3 {
	font-weight:normal;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:1.2em;
	padding:1em 0;
	margin:0;
}

#thework h3 strong {
	text-transform:uppercase;
	font-weight:normal;
}


#thework ul {
	margin:0 0 2em 0;
	padding:0;
	list-style-type:none;
}

#thework ul li {
	line-height:1.5em;
	width:45%;
	padding:.1em 5% .1em 0;
	float:left;
}

#news {
	display:none;
}

/* ************** CARROUSEL ************* */

/** 
 * Slideshow style rules.
 */
#slideshow {
	margin:0 auto;
	width:584px;
	height:480px;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
	width:584px;
	height:480px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:584px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:480px;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:25px;
  height:385px;
  text-indent:-9999px;
  position:absolute;
  cursor: pointer;
  z-index:10;
}
#leftControl {
  top:10px;
  right:30px;
  background-position:10px 5px;
  background-repeat:no-repeat;
  background-image:url(../img/ico-back.gif);
}
#rightControl {
  top:10px;
  right:0;
  background-position:10px 5px;
  background-repeat:no-repeat;
  background-image:url(../img/ico-next.gif);
}


.mosaic {
}


/** 
 * Style rules for Demo page
 */


#pageContainer {
  margin:0;
  width:584px;
}


/* **************** */
